.container {
  text-align: center;
  padding: 20px;
}

table {
  width: 90%;
  margin: auto;
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

th {
  background-color: lightgoldenrodyellow;
}



